<article id="classrooms" class="clearfix wrapper mdl-card mdl-shadow--2dp mdl-cell--12-col profile-section">
    <div class="mdl-card__title">
        <i class="material-icons">school</i>
        <h2 class="mdl-card__title-text">Classrooms in schools for year 2015-16</h2>
    </div>
    <div class="mdl-card__supporting-text wrapper" >
        <div class="section-container">
            <section class="clearfix stat-row mdl-grid">
                <div class="mdl-cell--2-col">
                  {% include 'profile/_blocks/_stat_list.html' with stat=classrooms.total_classrooms stat_type='number' %}
                </div>
                <div class="mdl-cell--3-col" id="chart-pie-classrooms-classrooms_by_conditions_distribution" data-stat-type="percentage" data-chart-title="Classrooms by conditions"></div>
               <div class="mdl-cell--7-col" id="chart-pie-classrooms-classrooms_by_schools_distribution" data-stat-type="percentage" data-chart-title="Classrooms by school type"></div>
            </section>
           <h2 class="section-secondary-heading">Classrooms by schools conditions </h2>
            <section class="clearfix stat-row mdl-grid section-second-row">
                <div class="mdl-cell--12-col" id="chart-grouped_column-classrooms-classrooms_by_schools_conditions_distribution" data-stat-type="scaled-percentage"></div>
            </section>
        </div>
    </div>
</article>