<article id="gdp" class="clearfix wrapper mdl-card mdl-shadow--2dp mdl-cell--12-col profile-section">
    <div class="mdl-card__title">
        <i class="material-icons">home</i>
        <h2 class="mdl-card__title-text">GDP</h2>
    </div>
    <div class="mdl-card__supporting-text wrapper" >
        <div class="section-container">
            <section class="clearfix stat-row mdl-grid">
                {% include 'profile/_blocks/_stat_list.html' with stat=gdp.total_gdp stat_type='number' %}
                <div class="mdl-cell--12-col" id="chart-column-gdp-gdp_by_year_distribution" data-stat-type="scaled-percentage"></div>
            </section>
        </div>
    </div>
</article>
