<article id="schools" class="clearfix wrapper mdl-card mdl-shadow--2dp mdl-cell--12-col profile-section">
    <div class="mdl-card__title">
        <i class="material-icons">school</i>
        <h2 class="mdl-card__title-text">Elementary schools for year 2015-16</h2>
    </div>
    <div class="mdl-card__supporting-text wrapper" >
        <div class="section-container">
            <section class="clearfix stat-row mdl-grid">
                <div class="mdl-cell--2-col">
                  {% include 'profile/_blocks/_stat_list.html' with stat=schools.total_schools stat_type='number' %}
                </div>
                <div class="mdl-cell--3-col" id="chart-pie-schools-schools_by_category2_distribution" data-stat-type="percentage" data-chart-title=""></div>
               <div class="mdl-cell--7-col" id="chart-pie-schools-schools_by_category_distribution" data-stat-type="percentage" data-chart-title=""></div>
            </section>

            <section class="clearfix stat-row mdl-grid section-second-row">
                <div class="mdl-cell--12-col" id="chart-pie-schoolsgender-schools_by_gender_distribution" data-stat-type="percentage" data-chart-title="Schools by gender"></div>
            </section>

           <h2 class="section-secondary-heading">Schools by type </h2>
            <section class="clearfix stat-row mdl-grid section-second-row">
                <div class="mdl-cell--12-col" id="chart-grouped_column-schools-schools_by_type_distribution" data-stat-type="scaled-percentage"></div>
            </section>
            
            <h2 class="section-secondary-heading">Schools by gender </h2>
            <section class="clearfix stat-row mdl-grid section-second-row">
                <div class="mdl-cell--12-col" id="chart-grouped_column-schoolsgender-schools_by_gender_school_distribution" data-stat-type="scaled-percentage"></div>
            </section>

            <h2 class="section-secondary-heading">Students</h2>
            <section class="clearfix stat-row mdl-grid">
                <div class="mdl-cell--2-col">
                  {% include 'profile/_blocks/_stat_list.html' with stat=students.total_students stat_type='number' %}
                </div>
                <div class="mdl-cell--3-col" id="chart-pie-students-students_by_type_distribution" data-stat-type="percentage" data-chart-title=""></div>
                <div class="mdl-cell--7-col" id="chart-pie-students-students_by_schools_distribution" data-stat-type="percentage" data-chart-title=""></div>
             </section>

            <h2 class="section-secondary-heading">Students enrolment by schools type </h2>
            <section class="clearfix stat-row mdl-grid section-second-row">
                <div class="mdl-cell--12-col" id="chart-grouped_column-students-students_by_schools_type_distribution" data-stat-type="scaled-percentage"></div>
            </section>

            <h2 class="section-secondary-heading">Girls enrolment by schools type </h2>
            <section class="clearfix stat-row mdl-grid section-second-row">
                <div class="mdl-cell--12-col" id="chart-column-girlsenrolment-girlsenrolment_by_school_distribution" data-stat-type="scaled-percentage"></div>
            </section>
            
            <h2 class="section-secondary-heading">Teachers</h2>
            <section class="clearfix stat-row mdl-grid">
                <div class="mdl-cell--2-col">
                  {% include 'profile/_blocks/_stat_list.html' with stat=teachers.total_teachers stat_type='number' %}
                </div>
                <div class="mdl-cell--3-col" id="chart-pie-teachers-teachers_by_type_distribution" data-stat-type="percentage" data-chart-title=""></div>
               <div class="mdl-cell--7-col" id="chart-pie-teachers-teachers_by_schools_distribution" data-stat-type="percentage" data-chart-title=""></div>
            </section>

            <section class="clearfix stat-row mdl-grid">
                <div class="mdl-cell--6-col" id="chart-pie-teachersgender-teachers_by_gender_distribution" data-stat-type="percentage" data-chart-title="Teachers by gender"></div>
               <div class="mdl-cell--6-col" id="chart-pie-teachersqualification-teachers_by_qualification_distribution" data-stat-type="percentage" data-chart-title="Teachers by educational qualification"></div>
            </section>

           <h2 class="section-secondary-heading">Teachers by schools type </h2>
            <section class="clearfix stat-row mdl-grid section-second-row">
                <div class="mdl-cell--12-col" id="chart-grouped_column-teachers-teachers_by_schools_type_distribution" data-stat-type="scaled-percentage"></div>
            </section>

            <h2 class="section-secondary-heading">Teachers by gender </h2>
            <section class="clearfix stat-row mdl-grid section-second-row">
                <div class="mdl-cell--12-col" id="chart-grouped_column-teachersgender-teachers_by_gender_school_distribution" data-stat-type="scaled-percentage"></div>
            </section>
            
            <h2 class="section-secondary-heading">Classrooms</h2>
            <section class="clearfix stat-row mdl-grid">
                <div class="mdl-cell--2-col">
                  {% include 'profile/_blocks/_stat_list.html' with stat=classrooms.total_classrooms stat_type='number' %}
                </div>
                <div class="mdl-cell--3-col" id="chart-pie-classrooms-classrooms_by_conditions_distribution" data-stat-type="percentage" data-chart-title="Classrooms by conditions"></div>
               <div class="mdl-cell--7-col" id="chart-pie-classrooms-classrooms_by_schools_distribution" data-stat-type="percentage" data-chart-title="Classrooms by school type"></div>
            </section>

           <h2 class="section-secondary-heading">Classrooms by schools conditions </h2>
            <section class="clearfix stat-row mdl-grid section-second-row">
                <div class="mdl-cell--12-col" id="chart-grouped_column-classrooms-classrooms_by_schools_conditions_distribution" data-stat-type="scaled-percentage"></div>
            </section>
            
            <h2 class="section-secondary-heading">Toilets</h2>
            <section class="clearfix stat-row mdl-grid">
                <div class="mdl-cell--2-col">
                  {% include 'profile/_blocks/_stat_list.html' with stat=toilets.total_toilets stat_type='number' %}
                </div>
                <div class="mdl-cell--3-col" id="chart-pie-toilets-toilets_by_type_distribution" data-stat-type="percentage" data-chart-title=""></div>
               <div class="mdl-cell--7-col" id="chart-pie-toilets-toilets_by_schools_distribution" data-stat-type="percentage" data-chart-title=""></div>
            </section>

            <h2 class="section-secondary-heading">Toilets by schools type </h2>
            <section class="clearfix stat-row mdl-grid section-second-row">
                <div class="mdl-cell--12-col" id="chart-grouped_column-toilets-toilets_by_schools_type_distribution" data-stat-type="scaled-percentage"></div>
            </section>
            
            <h2 class="section-secondary-heading">Schools basic facilities</h2>
            <section class="clearfix stat-row mdl-grid">
                <div class="mdl-cell--4-col">
                  {% include 'profile/_blocks/_stat_list.html' with stat=schoolsfacilities.total_facilities stat_type='number' %}
                </div>
                <div class="mdl-cell--8-col" id="chart-pie-schoolsfacilities-schools_by_facilities_distribution" data-stat-type="percentage" data-chart-title=""></div>
            </section>

           <h2 class="section-secondary-heading">Schools facilities by type </h2>
            <section class="clearfix stat-row mdl-grid section-second-row">
                <div class="mdl-cell--12-col" id="chart-column-schoolsfacilities-schools_by_facilities_distribution" data-stat-type="scaled-percentage"></div>
            </section>
        </div>
    </div>
</article>