<article id="toilets" class="clearfix wrapper mdl-card mdl-shadow--2dp mdl-cell--12-col profile-section">
    <div class="mdl-card__title">
        <i class="material-icons">school</i>
        <h2 class="mdl-card__title-text">Schools with toilets facility</h2>
    </div>
    <div class="mdl-card__supporting-text wrapper" >
        <div class="section-container">
            <section class="clearfix stat-row mdl-grid">
                <div class="mdl-cell--2-col">
                  {% include 'profile/_blocks/_stat_list.html' with stat=toilets.total_toilets stat_type='number' %}
                </div>
                <div class="mdl-cell--3-col" id="chart-pie-toilets-toilets_by_type_distribution" data-stat-type="percentage" data-chart-title=""></div>
               <div class="mdl-cell--7-col" id="chart-pie-toilets-toilets_by_schools_distribution" data-stat-type="percentage" data-chart-title=""></div>
            </section>
           <h2 class="section-secondary-heading">Toilets by schools type </h2>
            <section class="clearfix stat-row mdl-grid section-second-row">
                <div class="mdl-cell--12-col" id="chart-grouped_column-toilets-toilets_by_schools_type_distribution" data-stat-type="scaled-percentage"></div>
            </section>
        </div>
    </div>
</article>